<section class="cont-section">
  <div class="container">
    <h2 class="bestsellers-title">
      Best Sellers <span class="bestsellers-title-accent">Books</span>
    </h2>
    <div class="bestsellers-thumb">
      <ul class="book-list">
        <li class="book-item">
          <h3 class="book-title">Combined Print and E-Book Fiction</h3>
        </li>
        <li class="book-item">
          <!-- <img loading="lazy" src="" alt="" class="book-image" /> -->
        </li>
        <li class="book-item">
          <div class="book-info">
            <h3 class="book-subtitle">I will find you</h3>
            <p class="book-autor">Harlan Coben</p>
          </div>
        </li>
        <li class="book-item overlay">
          <p class="hover-text">quick view</p>
        </li>
      </ul>
      <button type="button" class="more-btn">see more</button>
    </div>
    <button
      type="button"
      class="top-btn"
      style="position: fixed; bottom: 20px; right: 30px"
    >
      <!-- <svg class="top-btn-icon"><use href=""></use></svg> -->
    </button>
  </div>
</section>
