<header class="header">
  <div class="container header-container">
    <div class="nav-container">
      <div class="logo">
        <a class="logo-link link" href="./index.html">
          <svg class="logo-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-general-logo"></use>
          </svg>
          <svg class="logo-text" width="77" height="14">
            <use href="./images/sprite.svg#icon-Bookshelf"></use>
          </svg>
        </a>
      </div>

      <nav class="header-menu">
        <ul class="menu list">
          <li class="menu-item">
            <a class="menu-link link" href="./index.html">Home</a>
          </li>
          <li class="menu-item">
            <a class="menu-link link shopping-link" href="./shoppingList.html"
              >Shopping list
              <svg class="shopping-list-icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-bag"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="user-settings">
      <div class="theme-switcher">
        <label class="switch">
          <input type="checkbox" class="js-switcher" />
          <span class="slider round"></span>
        </label>
      </div>
      <button type="button" class="burger-menu">
        <svg class="burger-menu-svg" width="28" height="28">
          <use href="./images/sprite.svg#icon-align-left-black"></use>
        </svg>
        <div
          class="close-menu-icon-cont visually-hidden"
          width="28"
          height="28"
        >
          <svg class="close-menu-icon" width="14" height="14">
            <use href="./images/sprite.svg#icon-close_Icon"></use>
          </svg>
        </div>
      </button>

      <div class="sign-up-block">
        <button type="button" class="sign-up-btn hidden-button">
          <span class="sign-up-btn-text">Sign up</span>
          <svg class="right-arrow-icon" width="23" height="26">
            <use href="./images/sprite.svg#icon-right_arrow"></use>
          </svg>
        </button>

        <button type="button" class="user-btn">
          <img
            width="30"
            height="30"
            src="https://img.icons8.com/?size=512&id=63980&format=png"
            alt="icn"
          />
          <span class="userName">Stephan</span>
          <svg class="right-arrow-icon" width="23" height="36">
            <use href="./images/sprite.svg#icon-triangle"></use>
          </svg>
        </button>

        <button type="button" class="sign-out-btn hidden-button">
          <span class="sign-up-btn-text">Log out</span>
          <svg class="right-arrow-icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-right_arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>

<!-- Mobile menu -->
<div class="mobile-menu-nav">
  <div class="mob-menu-wrapper">
    <ul class="mob-menu list">
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="./index.html">Home</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link shopping-link" href="./shoppingList.html"
          >Shopping list
          <svg class="shopping-list-icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-bag"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="img"></div>
</div>
<!-- End Menu -->
