<div class="backdrop" data-explore>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-explore-close>
      <svg class="modal-close-icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-close_Icon"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <a href="">
        <img
          class="modal-image"
          src="https://storage.googleapis.com/du-prd/books/images/9780593243732.jpg"
          alt=""
      /></a>
      <ul class="modal-list">
        <li><h2 class="modal-list-title">HELLO BEAUTIFUL</h2></li>
        <li><h3 class="modal-list-autor">Ann Napolitano</h3></li>
        <li>
          <p class="modal-description">
            In a homage to Louisa May Alcott’s “Little Women,” a young man’s
            dark past resurfaces as he gets to the know the family of his
            college sweetheart.
          </p>
        </li>
        <div class="modal-shop-icons">
          <li>
            <svg class="" width="44" height="36">
              <use href="./images/sprite.svg#icon-amazon"></use>
            </svg>
          </li>
          <li>
            <svg class="" width="44" height="36">
              <use href="./images/sprite.svg#icon-apple-books-logo"></use>
            </svg>
          </li>
          <li>
            <svg class="" width="44" height="36">
              <use href="./images/sprite.svg#icon-Barnes__Noble_logo"></use>
            </svg>
          </li>
          <li>
            <svg class="" width="44" height="36">
              <use href="./images/sprite.svg#icon-Books-A-Million_logo"></use>
            </svg>
          </li>
          <li>
            <svg class="" width="44" height="36">
              <use href="./images/sprite.svg#icon-book-shops-logo"></use>
            </svg>
          </li>
          <li>
            <svg class="" width="44" height="36">
              <use href="./images/sprite.svg#icon-Bookshelf"></use>
            </svg>
          </li>
        </div>
      </ul>
    </div>
    <button class="modal-active-btn">remove from the shopping list</button>
    <p class="modal-congratulations-text">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>

<!-- <div class="container">
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-amazon"></use>
    </svg>
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-apple-books-logo"></use>
    </svg>
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-Barnes__Noble_logo"></use>
    </svg>
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-Books-A-Million_logo"></use>
    </svg>
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-book-shops-logo"></use>
    </svg>
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-close_Icon"></use>
    </svg>
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-indiebound-logo"></use>
    </svg>
  </div> -->
