<div class="backdrop is-hidden" data-order data-order-backdrop>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-order-close>
      <svg class="modal-close-icon" data-order-close>
        <use href="./images/sprite.svg#icon-close_Icon" data-order-close></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <!--       
        <img
          class="modal-image"
          src="https://storage.googleapis.com/du-prd/books/images/9780593243732.jpg"
          alt=""
      />
      <ul class="modal-list">
        <li><h2 class="modal-list-title">HELLO BEAUTIFUL</h2></li>
        <li><h3 class="modal-list-autor">Ann Napolitano</h3></li>
        <li>
          <p class="modal-description">
            In a homage to Louisa May Alcott’s “Little Women,” a young man’s
            dark past resurfaces as he gets to the know the family of his
            college sweetheart.
          </p>
        </li>
        <div class="modal-shop-icons">
          <li>
            <svg class="modal-shop-item" width="44" height="36">
              <use href="./images/sprite.svg#icon-amazon"></use>
            </svg>
          </li>
          <li>
            <svg class="" width="44" height="36">
              <use href="./images/sprite.svg#icon-apple-books-logo"></use>
            </svg>
          </li>
          <li>
            <svg class="" width="44" height="36">
              <use href="./images/sprite.svg#icon-book-shops-logo"></use>
            </svg>
          </li>
            </div>
      </ul> -->
    </div>
    <div class="btn-container"></div>
    <!-- <button class="modal-active-btn" data-storage="add">
      add to shopping list
    </button> -->
    <!-- <p class="modal-congratulations-text">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p> -->
  </div>
</div>
