<!-- <div class="container">
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-amazon"></use>
    </svg>
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-apple-books-logo"></use>
    </svg>
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-Barnes__Noble_logo"></use>
    </svg>
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-Books-A-Million_logo"></use>
    </svg>
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-book-shops-logo"></use>
    </svg>
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-close_Icon"></use>
    </svg>
    <svg class="modal-page-icon" width="50" height="50">
      <use href="./images/sprite.svg#icon-indiebound-logo"></use>
    </svg>
  </div> -->
