

<section class="section-support">
  <div class="container support-container">
    <h2 class="header-support">support ukraine
       <svg width="20" height="32" class="img-support">
        <use href="./images/sprite.svg#icon-trident" alt="Trizub"></use>
       </svg>
    </h2> 
    <div class="charity-logos">
      <ul>
        <!-- Список логотипів благодійних фондів -->
      </ul>
    </div>
    <button type="button" class="support-button">
    <svg width="20" height="20" class="icon-button-angle">
      <use href="./images/sprite.svg#icon-show_more_arrow"></use>
    </svg>
  </button>
  </div>
</section>


      