<section class="section-support">
  <div class="container">
    <h2 class="header-support">support ukraine <svg width="20" height="32" class="img-support">
      <use href="./images/support/support.svg#icon-trizub" alt="Trizub"></use>
    </svg>
    </h2> 
    <div class="charity-logos">
      <ul class="link-logos">
        <!-- Список логотипів благодійних фондів -->
      </ul>
    </div>
    <button type="button" class="support-button"><svg width="32" height="32" class="icon-button">
      <use href="./images/support/support.svg#icon-button-more"></use>
    </svg>
    <svg width="20" height="20" class="icon-button-angle">
      <use href="./images/support/support.svg#icon-fi-rr-angle-small-left"></use>
    </svg>
  </button>
  </div>
</section>


      