/* Categories */
.aside-section {
  margin-bottom: 40px;
}

.categories-list {
  width: 100%;

  @media screen and(min-width: 768px) {
    width: 337px;
  }
}

.categories-list-name {
  margin-bottom: 24px;
  color: $categories-text-color;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: -0.32px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
  }
}

.aside-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 228px;
  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    gap: 32px;
    height: 472px;
  }
}

.aside-link {
  color: $categories-text-color;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
  letter-spacing: -0.32px;
  transition: $anim-tranz-parameters;

  &:hover,
  :focus {
    color: #4f2ee8;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
  }
}

.aside-list {
  scrollbar-width: thin;
}

/* Работает в Chrome, Edge и Safari */
.aside-list::-webkit-scrollbar {
  width: 8px;
}

.aside-list::-webkit-scrollbar-track {
  background: white;
}

.aside-list::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 12px;
}

/* Cards */
.books-section-title {
  margin-bottom: 40px;
  color: #111;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 118.75% */
  letter-spacing: -1.28px;
  text-align: center;
}

.card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 25px;
  }

  @media screen and (min-width: 1200px) {
    gap: 24px;
  }
}

.card-item {
  @media screen and (min-width: 768px) {
    width: 218px;
  }

  @media screen and (min-width: 1200px) {
    width: 180px;
  }
}

.card-img {
  margin-bottom: 14px;
}

.card-title {
  margin-bottom: 4px;
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.card-author {
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.48px;
}
