.bestsellers-title {
  color: $dark-color;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
}

.bestsellers-title-accent {
  color: $accent-color;
}
.book-title {
  color: $secondery-text-color;
  text-transform: uppercase;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}
.book-image {
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  width: 100%;
  height: 256px;
  border-radius: 8px;
  margin-bottom: 14px;
}

.book-subtitle {
  text-transform: uppercase;
  color: $dark-color;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.16;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.book-autor {
  text-align: left;
  color: $secondery-text-color;
  margin-bottom: 8px;
  font-size: 12px;
  font-style: italic;
  line-height: 1.17;
}

.more-btn {
  display: block;
  margin-bottom: 40px;
  text-transform: uppercase;
  border: 2px solid $accent-color;
  border-radius: 40px;
  margin-left: auto;
  padding: 14px 28px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  transition: transform $anim-tranz-parameters, font-size $anim-tranz-parameters;
}
.more-btn:hover {
  transform: scale(1);
  font-size: 15px;
  border: 3px solid $accent-color;
}
.card-wrapper-btn {
  border: none;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: transform $anim-tranz-parameters;
}
.card-wrapper-btn:hover {
  transform: scale(1.03);
}

.card-wrapper-btn:hover .hover-text {
  visibility: visible;
}

.hover-text {
  width: 100%;
  color: $dark-color;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
  background-color: $select-el-color;
  border-radius: 0 0 8px 8px;
  padding: 26px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  z-index: 9;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
}
.top-btn {
  width: 54px;
  height: 54px;
  background-color: $btn-color;
  border-color: #4f2ee84d;
  border-radius: 50%;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.book-info {
  display: flex;
  gap: 25px;
}

.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 8px solid #4f2ee84d;
  border-bottom-color: $accent-color;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-inner {
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 480px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .card-item {
    width: 100%;
  }

  .book-image {
    height: 485px;
  }
}

@media screen and (min-width: 768px) {
  .card-item {
    width: calc((100% - 50px) / 3);
  }
  .book-image {
    height: 316px;
  }
  .more-btn {
    margin-top: 20px;
  }
  .hover-text {
    bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .grid-wrapper {
    max-width: 996px;
  }
  .card-item {
    width: calc((100% - 96px) / 5);
  }
  .book-image {
    height: 256px;
  }
}
.dark {
  .bestsellers-title,
  .book-subtitle,
  .more-btn {
    color: $light-color;
  }
}
