@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas:
      'header header'
      'aside-section support'
      'cont-section  cont-section'
      'tui-pagination tui-pagination';
    justify-content: center;
  }

  .header {
    grid-area: header;
  }
  .aside-section {
    grid-area: aside-section;
  }
  .support {
    grid-area: support;
  }
  .cont-section {
    grid-area: cont-section;
  }
  .tui-pagination {
    grid-area: tui-pagination;
  }
}

@media screen and (min-width: 1440px) {
  body {
    display: grid;
    grid-template-areas:
      'header header'
      'aside-section cont-section'
      'support cont-section'
      '. cont-section'
      '. cont-section'
      'tui-pagination tui-pagination';
  }
  .header {
    grid-area: header;
  }
  .aside-section {
    grid-area: aside-section;
  }
  .support {
    grid-area: support;
  }
  .cont-section {
    grid-area: cont-section;
    min-width: 996px;
  }
  .tui-pagination {
    grid-area: tui-pagination;
  }
}
