  
.is-hidden {
    display: none;
}


.header-container{
    border: 2px solid black;
    border-radius: 0 0 25px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 12px 24px;
    }

.navigation{
    display: flex;
    align-items: center;
    gap: 76px;
}
.logo-link{
    display: flex;
    align-items: center;
    gap: 8px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 24px;
}
.menu-link{
    display: flex;
    align-items: center;
}
.shopping-link{
    display: flex;
    gap: 4px;
}
.sign-up-container {
    display: flex;
    gap: 24px;
}

.user-settings {
    display: flex;
    gap: 18px;
}