.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.mobile-menu-nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-100%);
    padding-top: 84px;
    height: 100vh;
    max-width: 373px;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
    margin: 0 auto;
    flex-direction: column;
    z-index: 99;
    transition: transform $anim-tranz-parameters;

        & .sign-up-btn{
            margin-left: 20px !important;
        }
        & .sign-out-btn {
            position: absolute;
            bottom: 20px;
            left: 20px;
            z-index: 1;
        }
}
.user-info{
    display: flex;
    align-items: center;
    gap: 9px;
    margin-left: 20px;
}
.mobil-user-img{
    border-radius: 50%;
}
.mobil-user-name{
    color: #FFF;
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
}

.img {
    background-image: url('../images/mobile.png');
    width: 375px;
    height: 300px;
    position: absolute;
    bottom: 0;
}

.mob-menu-wrapper {
    width: 373px;
    display: flex;
    justify-content: center;
    margin-top: 126px;
}

.mob-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.is-open-mob-menu {
    transform: translate(-50%, 0);
}

.burger-menu {
    display: flex;
    align-items: center;
    color: currentColor;
}

.burger-menu:hover{
    color: $accent-color;
}
.close-menu-icon-cont{
    padding: 7px;
}
.close-menu-icon{
    stroke: currentColor;
    transition: color $anim-tranz-parameters;
}

.burger-menu-svg {
    align-items: baseline;
    stroke: currentColor;
    transition: color $anim-tranz-parameters;
}

.mob-menu-item{
    color: #FFF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    /* 128.571% */
    letter-spacing: -0.56px;
    text-transform: uppercase;
}
.mob-menu-link{
    width: fit-content;
    padding: 8px 16px;
    border-radius: 50px;
}


@media screen and (min-width: 768px) {
// .mobile-menu-nav
    .burger-menu-svg,
    .close-menu-icon
     {
        display: none;
    }
}