
//! класс для тёмной темы
.nigga{}

.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }

.backdrop {
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
    opacity: 1;
    background-color: #111;
    background: rgba(17, 17, 17, 0.40);
    transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1);
    position: fixed;
    top: 0;
    left: 0;
}

.modal {
    min-width: 335px;
    min-height: 806px;
    background-color: #fff;
    border: 2px solid #111;
    border-radius: 15px;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    position: relative;

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // min-width: 335px;
    // min-height: 806px;
    // background-color: #FFF;
    // border-radius: 15px;
    // border: 2px solid #111;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-image {
    width: 287px;
    height: 408px;
    border-radius: 8px;
    margin-top: 40px;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, 50%);
}

.modal-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    stroke: #111111;
    width: 12px;
    height: 12px;
    // cursor: pointer;
    }

.modal-close-icon:hover,
.modal-close-icon:focus {
      stroke: #4F2EE8 ;
  }

.modal-list-title {
color: #111111;
font-family: DM Sans, sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 1.13;
letter-spacing: -0.64px;
margin-top: 14px;
}

.modal-list-autor {
    color: #B4AFAF;
font-family: DM Sans,
    sans-serif;
font-size: 12px;
font-style: italic;
font-weight: 400;
line-height: 1.17;
letter-spacing: -0.48px;
margin-top: 4px;
}

.modal-description {
    color: #111111;
font-family: DM Sans,
    sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.29;
letter-spacing: -0.56px;
margin-top: 18px;
max-width: 287px;
}

.modal-shop-icons {
    display: flex;
    
    flex-wrap: wrap;
    gap: 20px;
    max-width: 287px;
    margin-top: 14px;
}

.modal-active-btn {
    color: #111111;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    width: 279px;
    height: 46px;
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    margin-top: 40px;
}

.modal-active-btn:hover,
    .modal-active-btn:focus {
        color: #FFF;
        background-color: #4F2EE8;
    }

.modal-congratulations-text {
    max-width: 242px;
    color: rgba(17, 17, 17, 0.50);
        text-align: center;
        font-family: DM Sans,
            sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: -0.4px;
        margin-top: 8px;
        margin-bottom: 40px;
}

.modal-shop-item {
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}


/* ----------------------------375px-------------------------- */

@media screen and (min-width: 375px) {}

/* ----------------------------768px----------------------------- */

@media screen and (min-width: 768px) {
    .modal {
        min-width: 579px;
        min-height: 501px;
        border-radius: 18px;
        border: 2px solid #111;
    }
    .modal-wrapper {
        display: flex;
        gap: 24px;
        margin-top: 40px;
    }
    .modal-image {
        width: 192px;
        height: 281px;
        border-radius: 15px;
        margin-top: 0;
    }
    .modal-list-autor {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.56px;
    }
    .modal-list-title {
        color: #111111;
        font-family: DM Sans, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: -0.96px;
        margin-top: 0;
    }


    .modal-active-btn {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.33;
        letter-spacing: -0.18px;
        width: 499px;
        height: 64px;
        border-radius: 40px;
        border: 2px solid #4F2EE8;
        margin-top: 40px;
}

    .modal-close-btn {
        top: 24px;
        right: 24px;
        width: 28px;
        height: 28px;
    }
    .modal-close-icon {
    width: 14px;
    height: 14px;
  }
    .modal-shop-icons {
    gap: 20px;
    margin-top: 20px;
}
    .modal-list {
    max-width: 279px;
}

.modal-congratulations-text {
    max-width: 324px;
  
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.48px;
 }
}

/* -------------------------------1200px-------------------------------- */

@media screen and (min-width: 1200px) {
    
}