.dark {
    .modal {
        background-color: #202024;
        border: 2px solid #FFF;
    }

    .modal-wrapper {
        background-color: #202024;
    }

    .modal-list-title {
        color: #FFF;
    }

    .modal-description {
        color: #FFF;
    }

    .modal-active-btn {
        background-color: #202024;
        color: #FFF;
    }

    .modal-active-btn-add {
        background-color: #202024;
        color: #FFF;
    }

    .modal-shop-item:first-child {
        fill: #FFFFFF;
    }

    .modal-close-icon {
        stroke: #FFFFFF;
    }

    .modal-congratulations-text {
        color: rgba(255, 255, 255, 1);
    }
}

.modal-open {
    height: 100vh;
    overflow-y: hidden;
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    opacity: 1;
    background-color: #111;
    background: rgba(17, 17, 17, 0.40);
    transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.modal {
    min-width: 335px;
    background-color: #fff;
    border: 2px solid #111;
    border-radius: 15px;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    position: relative;

}

.modal-center-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper {
    display: block;
    gap: 24px;
    margin-top: 40px;
    width: 287px;
}

.modal-image {
    width: 287px;
    height: 408px;
    border-radius: 8px;

}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, 100%);
}

.modal-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 14px;
    height: 14px;
    border: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-icon {
    stroke: #111111;
    width: 12px;
    height: 12px;
}

.modal-close-icon:hover,
.modal-close-icon:focus {
    stroke: #4F2EE8;
    scale: 1.5;
}

.modal-list-title {
    color: #111111;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: -0.64px;
    margin-top: 14px;
}

.modal-list-autor {
    color: #B4AFAF;
    font-family: DM Sans,
        sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.48px;
    margin-top: 4px;
}

.modal-description {
    color: #111111;
    font-family: DM Sans,
        sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.56px;
    margin-top: 18px;
    max-width: 287px;
}

.modal-shop-icons {
    display: flex;

    flex-wrap: wrap;
    gap: 20px;
    max-width: 287px;
    margin-top: 14px;
}

.modal-active-btn-add {
    color: #111111;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    width: 279px;
    height: 46px;
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    margin: 40px 0;
}

.modal-active-btn-add:hover,
.modal-active-btn-add:focus {
    color: #FFF;
    background-color: #4F2EE8;
}

.modal-active-btn {
    color: #111111;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    width: 279px;
    height: 46px;
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    margin-top: 40px;
}

.modal-active-btn:hover,
.modal-active-btn:focus {
    color: #FFF;
    background-color: #4F2EE8;
}

.modal-congratulations-text {
    max-width: 242px;
    color: rgba(17, 17, 17, 0.50);
    text-align: center;
    font-family: DM Sans,
        sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.4px;
    margin: 8px auto 40px auto;
}

.modal-shop-item:hover,
.modal-shop-item:focus {
    background: url(../images/sprite.svg), lightgray 0px -0.889px / 100% 105.556% no-repeat;
    mix-blend-mode: luminosity;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

/* ----------------------------375px-------------------------- */

@media screen and (min-width: 375px) {}

/* ----------------------------768px----------------------------- */

@media screen and (min-width: 768px) {
    .modal {
        min-width: 579px;
        border-radius: 18px;
        border: 2px solid #111;
    }

    .modal-wrapper {
        display: flex;
        gap: 24px;
        width: 499px;
    }

    .modal-image {
        width: 192px;
        height: 281px;
        border-radius: 15px;
        margin-top: 0;
    }

    .modal-list-autor {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.56px;
    }

    .modal-list-title {
        color: #111111;
        font-family: DM Sans, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: -0.96px;
        margin-top: 0;
    }

    .modal-active-btn-add {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.33;
        letter-spacing: -0.18px;
        width: 499px;
        height: 64px;
        border-radius: 40px;
        border: 2px solid #4F2EE8;
        margin: 40px 0;
    }

    .modal-active-btn {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.33;
        letter-spacing: -0.18px;
        width: 499px;
        height: 64px;
        border-radius: 40px;
        border: 2px solid #4F2EE8;
        margin-top: 40px;
    }

    .modal-close-btn {
        top: 24px;
        right: 24px;
        width: 14px;
        height: 14px;
    }

    .modal-close-icon {
        width: 14px;
        height: 14px;
    }

    .modal-shop-icons {
        gap: 20px;
        margin-top: 20px;
    }

    .modal-list {
        width: 279px;
    }

    .modal-congratulations-text {
        max-width: 324px;

        font-size: 12px;
        line-height: 1.17;
        letter-spacing: -0.48px;
    }
}

/* -------------------------------1200px-------------------------------- */

@media screen and (min-width: 1200px) {}