.section-support {
  padding-top: 40px;
}

.section-support > .container {
  position: relative;
  padding-bottom: 65px;
  padding-top: 24px;
  padding-left: 40px;
  padding-right: 40px;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    $accent-color 18.03%,
    $light-color 100%
  );
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
  flex-shrink: 0;
  border-radius: 16px;
}

.header-support {
  color: $light-color;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.logo-index {
  color: $light-color;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.img-support {
  display: block;
  stroke: $light-color;
  margin-left: 12px;
}

.charity-logos {
  overflow: hidden;
  width: 100%;
  height: calc(100% - 40px);
}

.support-link {
  display: flex;
  align-items: center;
}

.support-link-url {
  display: flex;
  align-items: center;
  gap: 16px;
  .support-link-img {
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.icon-button {
  fill: $btn-color;
}
.support-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  height: 38px;
  width: 38px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background-color: $light-color;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button-angle {
  fill: $btn-color;
  transition: transform 0.3s ease;
}

@media screen and (max-width: 767px) {
  .section-support > .container {
    max-width: 335px;
    min-height: 352px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .section-support > .container {
    min-height: 472px;
  }
  .swiper-backface-hidden {
    height: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .section-support {
    padding-top: 86px;
  }
  .section-support > .container {
    max-width: 356px;
    min-height: 490px;
  }
  .swiper-backface-hidden {
    height: 418px;
  }
}
.swiper {
  position: static;
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  position: static;
  flex-direction: column;
}

.swiper-backface-hidden {
  height: 280px;
  display: flex;
}
.swiper-vertical > .swiper-scrollbar {
  background: $select-el-color;
}
.swiper-wrapper > .swiper-slide {
  display: flex;
}
.swiper-scrollbar-drag {
  width: 10px;
}
